body {
    margin: 0;
    padding: 0;
    height: auto;
    width:1450px;
}
.fontRegular{
    font-family: "titillium-web", sans-serif;
    font-weight: 350;
    font-style: normal;
}
.fontBold{
    font-family: "titillium-web", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.rectangle{
    display: flex;
    width: 100%;      
    padding:0% 3%;
    margin-left: 0px;
}
#rectTopic{
    height: 20%;
    background-color: #F0EAD6;
    top: 0;
    position: fixed;
    z-index: 1;
    padding-left: 1.5%;
}
#rectInfo{
    height: 25%;
    background-color: #ffffff;
    width: 95%;
    margin-top: 3%;
    opacity: 0.8;
    border-bottom: 1px solid #b6c4bc;
    position: relative;/*rectTitle設relative 而此處設absolute可讓此長方形貼齊rectTitle*/
}
#circle{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-image: url(userIcon75.jpg);
    margin-left: 40%;
    margin-top: 3%;
    border-color: transparent;
    transition-duration: 5ms;
    transition-timing-function: ease;
    background-position: center;
}
#topicPic{
    width: 650px;
    height: 80px;
    margin-top: 3%;
    margin-left: 0%;
}
.btnAspect{
    border-radius: 10%;
    border-color: #AD9989;
    color: #AD9989;
    border-width: 3px;
    margin-left: 90%;
    margin-top: 12%;
    width: 130px;
    height: 45px;
    font-size: x-large;
    padding-left: 3px;
}
.optAspect{
    background-color: #FDF5E6;
    color: #AD9989;
    font-size: x-large;
}
#circle:hover{
    transform: scale(1.1);
}
.contentTitle{
    font-size: 50px;
    color: #6d7470;
    margin-left: 3%;
}
#titleFirst{
    margin-left: 150px;
    margin-top: 40%;
    position: relative;
}
#titleSecond{
    margin-left: 10%;
    position: absolute;
}
#titleThird{
    margin-left: 700px;
    position: absolute;
    margin-left: 30%;
}
.contentRect{
    margin-left: 15%;
    margin-right: 5%;
    font-size: 30px;
    color: #97a29c;
    width: 80%;
    height: 70px;
    border-radius: 10%;
    padding-left: 20px;
    padding-top: 28px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(206, 206, 206, 0.1);
    transition: box-shadow 0.3s ease;
}
.btnUpload{
    border-radius: 10%;
    border-color: #AD9989;
    color: #AD9989;
    border-width: 3px;
    padding-left: 3px;
    padding-top: 3px;
    width: 75px;
    height: 35px;
    font-size: large;
}
.contentSecond{
    margin-left: 28%;
}
.contentThird{
    margin-left: 18%;
}
.contentRect:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}
.finish{
    color: #43c27a;
}
.problem{
    color: #bc1b1b;
    font-weight: 550;
}
.btnUpload:hover{
    font-weight: 550;
    background-color: #ffffff;
}
