#title{
    font-size: x-large;color: rgb(213, 213, 255);background-color: rgb(24, 24, 168);
}
#table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;border: 1;
    font-size: x-large;color: rgb(24, 24, 168); background-color: rgb(213, 213, 255);
}